<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table class="table table-striped">
                <tr class="hoverSelect"><td>Livraison à domicile</td></tr>
                <tr class="hoverSelect"><td>Livraison rapide</td></tr>
                <tr class="hoverSelect"><td>Livraison en point relai</td></tr>
                <tr class="hoverSelect"><td>Click and collect</td></tr>
            </table>
        </div>
        <div class="col-6">
            <app-goutte></app-goutte>
        </div>
    </div>
</div>
