tr {
    height: 200px;
}

td {
    text-align: center;
    width: 200px;
}

.imageCatalogue {
    width: 200px;
}

.recapItems {
    height: 50px;
}

.headerRecap {
    height: 75px;
    background-color: #005cbf;
}
