<h1>Composez votre panier</h1>

<table class="table">
    <tr>
        <td>
            <img src="../assets/images/Perforateur.png"/>
            Perforateur
        </td>
        <td>
            <img src="../assets/images/Tournevis.png"/>
            Tournevis
        </td>
        <td>
            <img src="../assets/images/Vis.png"/>
            Vis
        </td>
    </tr>
    <tr>
        <td>
            <img src="../assets/images/Perceuse.png"/>
            Perceuse
        </td>
        <td>
            <img src="../assets/images/Cutter.png"/>
            Cutter
        </td>
        <td>
            <img src="../assets/images/Chevilles.png"/>
            Chevilles
        </td>
    </tr>
</table>

<button class="btn btn-block btn-outline-primary">Valider</button>
